/***********************************************************************************************************************
                                                Главное меню
***********************************************************************************************************************/

#menu_panel {
    z-index: 5 !important;
    overflow: visible;
}

/*Стиль для ссылок*/

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #4da9f1;
}

.ui-widget {
    font-family: Roboto, arial, sans-serif !important;
    font-size: 13px;
}

/*Страница авторизации*/

.login_panel {
    width: 350px;
    margin: 0 auto;
    margin-top: 10%;
}

/*Страница регистрации*/

.registration_panel {
    width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

.text_style {
    font-weight: 700;
}

/*Таблица с информацией по рабочим дням*/

.color_for_holiday {
    background-color: #eaeaea;
    background-image: none;
}

.color_for_current_day {
    background-color: #4da9f1;
    background-image: none;
}

.ui-datatable td {
    border-style: none !important;
}

.ui-datatable-header {
    height: 35px;
}

/***********************************************************************************************************************
                                          Фрейм для работы с текущим днём
***********************************************************************************************************************/

#current_work_day_panel {
    z-index: 5 !important;
    overflow: visible;
}

.window_for_time {
    border: 2px solid #eaeaea;
    padding: 5px;
}

.with_delete_button button {
    opacity: 0;
}

.with_delete_button:hover button {
    opacity: 1;
}

/*Стили для статистики по месяцу*/

.circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
}

.panel_for_statistic {
    background-color: white;
    border-radius: 4px 4px 0px 0px;
    height: 40px;
    border: 1px solid #D5D5D5;
    margin-top: 16px;
}

#list_with_legend {
    width: 100%;
    padding: 0px;
}

#list_with_legend li {
    display: table-cell;
    text-align: center;
}