body {
    background-color: #e5e5e5;
}

.ui-layout-pane {
    border: none;
    background: none;
}

h4 {
    font-style: italic;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 15px;
    margin-top: 15px;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    padding: 0;
    margin: 0
}

dd {
    float: left;
    padding: 0;
    margin: 0
}

.ui-corner-all {
    border-radius: 2px;
}

/***********************************************************************************************************************
                            Всплывающие сообщения(growl)
***********************************************************************************************************************/

.ui-growl-item-container {
    background-color: grey;
    border: grey;
}

/***********************************************************************************************************************
                            tree table
***********************************************************************************************************************/

.ui-treenode-label.ui-corner-all.ui-state-highlight {
    width: 85%;
    padding: 2px;
    border-radius: 0;
}

/***********************************************************************************************************************
                            buttons
***********************************************************************************************************************/

.ui-button {
    border-radius: 2px;
}

/***********************************************************************************************************************
                            dialog
***********************************************************************************************************************/

.ui-dialog-titlebar.ui-widget-header {
    margin: 0;
    background: #d9d9d9 !important;
}

.ui-dialog-titlebar-close {
    margin-top: 20px !important;
    margin-right: 20px !important;
}

/***********************************************************************************************************************
                            dialog
***********************************************************************************************************************/

.ui-outputlabel-rfi {
    color: crimson;
}

/***********************************************************************************************************************
                            dialog
***********************************************************************************************************************/

.ui-outputlabel {
    opacity: 0.8;
    font-style: italic;
}

/***********************************************************************************************************************
                            input field
***********************************************************************************************************************/

.ui-inputfield.ui-state-hover {
    border-color: #4da9f1;
}

.ui-inputfield.ui-state-focus {
    border-color: #4da9f1;
}